@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');* {
   font-family: 'Roboto', sans-serif;
}

html, body {
   margin: 0;
   padding: 0;
 }  
 
a {
   /* this removes the line under our links */
   text-decoration: none;
}

.dark {
   background-color: #1f2937;
}
 
.header-links {
   display: flex;
   flex-direction: row;
   gap: 24px;
   justify-content: flex-end;
   padding: 16px 64px;
   font-size: 18px;
   color: #e5e7eb
}

.logo {
   flex: 1 1 auto;
   font-size: 24px;
   color: #f9faf8  
}

.small-link {
   align-self: center;
}

.maintext {
   font-size: 48px;
   color: #F9FAF8;
}

.titlecard {
   display: flex;
   padding: 256px 64px;
}

.leftcard {
   max-width: 512px;
   text-align: left;
}

.rightcard {
   margin-left: auto;
}

.rightcard img {
   border-radius: 12px;
}

.titlecard h1 {
   font-size: 48px;
   color: #f9fAf8;
}

.titlecard button {
   background-color: #3882f6;
   border-radius: 12px;
   height: 64px;
   width: 256px;
   font-weight: bold;
   color: #F9FAF8;
   font-size:36px
}

.titlecard p {
   text-align: left;
   font-size: 24px;
   color: #cdd0d1;
}

.rightcard img {
   max-width: 800px;
   max-height: 450px;
}

.information {
   padding-bottom: 128px;
}

.information h1 {
   font-size: 36px;
   font-weight: bolder;
   padding-top: 48px;
   padding-bottom: 48px;
}

.container0 {
   display: flex;
   align-content: center;
   justify-content: center;
   gap: 128px;
}

.container1 img {
   border-radius: 12px;
   max-width: 324px;
   max-height: 324px;
}

.container1 p {
   max-width: 324px;
   max-height: 324px;
   text-align: center;
}

.inspriation {
   background-color: #E5E7EB;
}

.quote-container {
   padding: 128px 512px 128px 512px;
}

.quote {
   font-weight: 100;
   font-size: 36px;
   font-style: italic;
}

.author {
   font-style: bold;
   font-weight: 900;
   font-size: 36px;
   text-align: right;
}

.action {
   padding: 128px;
}

.action-container {
   display: flex;
   align-items: center;
   background-color: #3882F6;
   padding: 64px 128px 64px 128px;
   border-radius: 12px;
}

.action-text {
   display: flex;
   flex-direction: column;
}

.action-text p {
   margin: 2px;
}

.call {
   font-weight: 700;
   font-weight: bold;
   font-size: 36px;
   color: #F9FAF8;
}

.call-caption {
   color: #E5E7EB;
}

.action-container button{
   margin-left: auto;
   width: 192px;
   height: 48px;
   border-radius: 12px;
   background-color: #3882F6;
   border-color: #f9fAf8;
   border-width: 3px;
   font-weight: 500;
   color: #F9FAF8;
   font-size: 18px;
}

.copyright {
   background-color: #1f2936;
   padding: 36px;
}

.copyright p {
   text-align: center;
   color: #f9fAf8;
}