@import url(https://fonts.googleapis.com/css?family=Roboto);

* {
   font-family: 'Roboto';
}

html, body {
   margin: 0;
   padding: 0;
 }  
 
a {
   /* this removes the line under our links */
   text-decoration: none;
}

.dark {
   background-color: #1f2937;
}
 
.header-links {
   display: flex;
   flex-direction: row;
   gap: 24px;
   justify-content: flex-end;
   padding: 16px 64px;
   font-size: 18px;
   color: #e5e7eb
}

.logo {
   flex: 1 1 auto;
   font-size: 24px;
   color: #f9faf8  
}

.small-link {
   align-self: center;
}

.maintext {
   font-size: 48px;
   color: #F9FAF8;
}

.titlecard {
   display: flex;
   padding: 256px 64px;
}

.leftcard {
   max-width: 512px;
   text-align: left;
}

.rightcard {
   margin-left: auto;
}

.rightcard img {
   border-radius: 12px;
}

.titlecard h1 {
   font-size: 48px;
   color: #f9fAf8;
}

.titlecard button {
   background-color: #3882f6;
   border-radius: 12px;
   height: 64px;
   width: 256px;
   font-weight: bold;
   color: #F9FAF8;
   font-size:36px
}

.titlecard p {
   text-align: left;
   font-size: 24px;
   color: #cdd0d1;
}

.rightcard img {
   max-width: 800px;
   max-height: 450px;
}

.information h1 {
   font-size: 36px;
   font-weight: bolder;
   padding-top: 48px;
   padding-bottom: 48px;
}

.break {
   flex-basis: 100%;
   height: 0;
}

.images {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 128px;

}

.images img {
   border-radius: 12px;
   max-width: 324px;
   max-height: 324px;
}

.captions {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 128px;
}

.captions p {
   max-width: 324px;
   max-height: 324px;
   text-align: center;
}


/*
.captions {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}

.captions p {
   max-width: 324px;
   max-height: 324px;
   text-align: center;
}
*/
